<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Auth With Node Js</title>
    <link rel="stylesheet" href="../styles.css">
</head>

<body>
    <nav>
        <h2><a href="/">E-coders</a></h2>
        <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Sign Up</a></li>
        </ul>
    </nav>