<%- include('./partials/head.ejs') %>
<section class="wrapper">
    <div class="products">
        <div class="product">
            <h3 class="name">Apple</h3>
            <img src="./images/products.png" alt="product image">
        </div>
        <div class="product">
            <h3 class="name">Mango</h3>
            <img src="./images/products.png" alt="product image">
        </div>
        <div class="product">
            <h3 class="name">Orange</h3>
            <img src="./images/products.png" alt="product image">
        </div>
        <div class="product">
            <h3 class="name">Pine apple</h3>
            <img src="./images/products.png" alt="product image">
        </div>
        <div class="product">
            <h3 class="name">Strawberry</h3>
            <img src="./images/products.png" alt="product image">
        </div>
        <div class="product">
            <h3 class="name">Banana</h3>
            <img src="./images/products.png" alt="product image">
        </div>
    </div>
</section>
<%- include('./partials/footer.ejs') %>