<%- include('./partials/head.ejs') %>
    <main>
        <div class="image">
            <img src="./images/products.png" alt="product image">
        </div>
        <a class="btn" href="/home">Buy Products</a>
    </main>
<%- include('./partials/footer.ejs') %>