<%- include('./partials/head.ejs') %>
<body>
    <nav>
        <h2>E-coders</h2>
        <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Sign Up</a></li>
        </ul>
    </nav>
    <main>
        <div class="image">
            <img src="./images/products.png" alt="product image">
        </div>
        <a class="btn" href="/home">Buy Products</a>
    </main>
</body>
<%- include('./partials/footer.ejs') %>