<%- include('./partials/head.ejs') %>
<div class="form-wrapper">
    <form action="/login" method="post">
        <h3 class="title">Login to Continue</h3>
        <div class="name-wrapper">
            <label for="name">Name</label>
            <input type="text" name="name" placeholder="Name" id="name">
            <p class="error" id="name-error"></p>
        </div>

        <div class="password-wrapper">
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Password" id="password">
            <p class="error" id="password-error"></p>
        </div>

        <button type="submit">Login</button>
    </form>
</div>
<script>
    var form = document.querySelector('form');
    var nameError = document.querySelector('#name-error');
    var passwordError = document.querySelector('#password-error');

    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        const name = form.name.value;
        const password = form.password.value;

        try {
            const res = await fetch('/login', {
                method: 'POST',
                body: JSON.stringify({ name, password }),
                headers: { 'Content-Type': 'application/json' }
            })
            const data = await res.json();
            if (data.user) {
                location.assign('/home');
            } else {
                nameError.textContent = data.error.name;
                passwordError.textContent = data.error.password;
            }
            console.log(data);
        } catch (e) {

        }
    })
</script>
<%- include('./partials/footer.ejs') %>