<%- include('./partials/head.ejs') %>
<div class="form-wrapper">
    <form action="/signup" method="post">
        <h3 class="title">Signup to Continue</h3>
        <div class="name-wrapper">
            <label for="name">Name</label>
            <input type="text" name="name" placeholder="Name" id="name">
        </div>

        <div class="password-wrapper">
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Password" id="password">
        </div>

        <button type="submit">Login</button>
    </form>
</div>
<%- include('./partials/footer.ejs') %>